<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partial_header') %>
        <link rel="stylesheet" href="/static/css/inscription.css">
        <title>Inscription Consultant</title>
</head>

<body>
    <!-- Header -->
    <%- include('header') %>
        <!-- Main -->
        <main class="d-flex justify-content-center">
            <article class="align-items-center w-50 bg-blue_green justify-content-center" id="container_medecins">
                <img src="/static/img/pharmacie-inscription.png" alt="consultant">
            </article>
            <article
                class="d-flex flex-column justify-content-center align-items-center text-center p-4 mb-5 mt-5 wb65">
                <div>
                    <img src="/static/img/HelloDoc Blue-01.png" alt="logo" class="" id="logo_insc_form">
                    <h1 class="display-6 fs-3 m-4">Rejoignez la communauté et simplifiez-vous la vie !</h1>
                </div>

                <form method="post" action="/inscription/organismesante/add" id="signupFormClient"
                    class="d-flex flex-wrap justify-content-center mx-auto">
                    <div class="form-floating mb-3 w-75">
                        <input name="nom" type="text" class="form-control" id="floatingNom" placeholder="Jean">
                        <label for=" floatingNom">Nom consultant</label>
                    </div>
                    <div class="form-floating mb-3 w-75">
                        <input name="rpps" type="number" class="form-control" id="floatingRPPS" placeholder="*"
                            max="99999999999" min="11111111111">
                        <label for="floatingRPPS">Numéro RPPS</label>
                    </div>
                    <div class="form-floating mb-3 w-75">
                        <input name="numero" type="number" class="form-control" id="floatingAdeli"
                            placeholder="0601020304" max="9999999999" min="011111111">
                        <label for="floatingAdeli">N° Téléphone</label>
                    </div>
                    <div class="form-floating mb-3 w-75">
                        <input name="email" type="email" class="form-control" id="floatingEmail"
                            placeholder="dupont.jean@gmail.com">
                        <label for="floatingEmail">Adresse email</label>
                    </div>
                    <div class="form-floating mb-3 w-75">
                        <input name="mdp" type="password" class="form-control" id="floatingpassword1"
                            placeholder="************">
                        <label for="floatingpassword1">Mot de passe</label>
                    </div>
                    <div class="form-floating mb-3 w-75">
                        <input name="mdp2" type="password" class="form-control" id="floatingpassword2"
                            placeholder="************">
                        <label for="floatingpassword2">Confirmation de mot de passe</label>
                    </div>
                    <div style="color:red">
                        <% if (content.length) { %>
                            <% for (var c of content) { %>
                                <p>
                                    <%= c.category %>:
                                        <%= c.message %>
                                </p>
                                <% }%>
                                    <% } %>
                    </div>
                    <div class="form-floating mb-3 w-75">
                        <button type="submit" class="btn btn-outline-success">Inscription</button>
                    </div>
                </form>
            </article>

        </main>
        <!-- Footer -->
        <%- include("footer.ejs"); %>

</body>

</html>