<html lang="fr">

<head>
    <%- include("partial_header.ejs"); %>
        <title>Mon espace - Professionel de Santé</title>
        <link rel="stylesheet" href="/static/css/inscription.css">
</head>

<body>
    <%- include("medecin_header.ejs"); %>
        <main class="container d-flex CaviarDreams p-3 ">
            <nav class="border rounded-4 m-3 me-5 p-4 bg-green opacity-50 min-width-content height_ftcont  vw-25 vh-25 sticky-top top-20"
                id="nav_ls">
                <ul class=" list-unstyled h5">
                    <li class="text-white p-2 CaviarDreamsBold">
                        <a href="#EO_" class="text-decoration-none text-white">Éditer une ordonnance</a>
                    </li>
                    <li class="text-white p-2 CaviarDreamsBold">
                        <a href="#MP_" class="text-decoration-none text-white">Mes patients</a>
                    </li>
                    <li class="text-white p-2 CaviarDreamsBold">
                        <a href="#Mesinformations" class="text-decoration-none text-white">Mes informations</a>
                    </li>
                    <li class="text-white p-2 CaviarDreamsBold">
                        <a href="#ETAB" class="text-decoration-none text-white">Mes établissement</a>
                    </li>
                </ul>
            </nav>

            <article class="m-3">
                <h1 class="CaviarDreamsBold f-blue2 pb-5 border-bottom">Bienvenue dans votre espace personnel !</h1>

                <section>
                    <h1 class="CaviarDreamsBold f-blue2 pt-2" id="EO_">Éditer une ordonnance</h1>
                    <ul class="list-unstyled ps-0 f-blue_green px-4">
                        <li>
                            <section class="mt-3 mb-3 text-center">

                                <div class="d-flex" id="fleche_creeOrdo">
                                    <h2 class="px-3">&#9660</h2>
                                    <h2>Créer ordonnance en ligne</h2>
                                </div>
                                <article id="formCO_">
                                    <form action="" method="post" class="text-center">

                                    </form>

                                    <div class="d-flex flex-row align-items-center justify-content-center mt-3">
                                        <hr class="w-40 ">
                                        <h1 class="px-3">Type</h1>
                                        <hr class="w-40 ">
                                    </div>

                                    <section class="d-flex flex-row align-items-center justify-content-center">
                                        <!-- <a href="/medecin/ordonnanceMedicamenteuseSsPatient"
                                            class="text-decoration-none"> -->
                                        <button type="button"
                                            class="CaviarDreamsBold f-white link-blue-green text-uppercase btn-link-white btn bg-blue_green m-4"
                                            id="ajoutMedoc">
                                            Ordonnance Médicamenteuse
                                        </button>
                                        <!-- </a> -->

                                        <button type="button"
                                            class="CaviarDreamsBold f-white link-blue-green text-uppercase btn-link-white btn bg-blue_green m-4"
                                            id="ajoutPrescrip">
                                            Ordonnance Prescriptive
                                        </button>
                                    </section>
                                    <div id="container_Medicament">
                                        <form action="/medecin/ordonnanceMedicamenteusePatient" method="post">
                                            <div class="form-row mb-3">
                                                <div class="form-group m-2 text-center">
                                                    <label for="inputDatePatient">Date</label>
                                                    <input name="date" type="text" class="form-control"
                                                        id="inputDatePatient"
                                                        value="<%= annee %>-<%= mois %>-<%= jour %>" disabled>
                                                </div>
                                                <div class="form-group m-2 text-center">
                                                    <label for="inputVille">Ville</label>
                                                    <input name="ville" type="text" class="form-control" id="inputVille"
                                                        placeholder="Paris" required>
                                                </div>
                                                <div class="form-group m-2 text-center">
                                                    <label for="inputNumSecuSociale">Numéro de Sécurité Sociale</label>
                                                    <input name="NumSecu" type="number" class="form-control"
                                                        id="inputNumSecuSociale" placeholder="1123544645121" required>
                                                </div>
                                            </div>
                                            <button type="submit"
                                                    class="btn bg-light-grey btn-link-grey text-uppercase CaviarDreamsBold">
                                                Créer
                                            </button>
                                        </form>
                                    </div>
                                    <div id="container_prescription">
                                        <h5 class="f-blue2 text-uppercase CaviarDreamsBold">Faire une prescription médicale</h5>
                                        <form action="/medecin/addPrescriptionMedicale/false" method="post">
                                            <div class="form-row mb-3">
                                                <div class="form-group m-2 text-center">
                                                    <label for="inputDatePatient">Date</label>
                                                    <input name="date" type="text" class="form-control"
                                                        id="inputDatePatient"
                                                        value="<%= annee %>-<%= mois %>-<%= jour %>" disabled>
                                                </div>
                                                <div class="form-group m-2 text-center">
                                                    <label for="inputVille">Ville</label>
                                                    <input name="ville" type="text" class="form-control" id="inputVille"
                                                        placeholder="Paris" required>
                                                </div>
                                                <div class="form-group m-2 text-center">
                                                    <label for="inputNumSecuSociale">Numéro de Sécurité Sociale</label>
                                                    <input name="NumSecu" type="number" class="form-control"
                                                        id="inputNumSecuSociale" placeholder="1123544645121" required>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group m-2 px-5 resize-h ">
                                                    <label for="prescription" class="m-4 fs-3 f-blue_green">
                                                        Description de l'ordonnance
                                                    </label>
                                                    <textarea name="prescription" id="inputPrescription" cols="70"
                                                        rows="5"
                                                        placeholder="Radiographie, séance(s) de kinésithérapie... "
                                                        required></textarea>
                                                </div>
                                            </div>
                                            <button type="submit"
                                                class="btn bg-light-grey btn-link-grey text-uppercase CaviarDreamsBold">Enregistrer</button>
                                        </form>
                                    </div>
                                </article>
                            </section>
                        </li>
                    </ul>
                </section>
                <section>
                    <h1 class="CaviarDreamsBold f-blue2" id="MP_">Mes patients</h1>

                    <a href="/medecin/AllPatient" class="btn rounded mt-3 mb-3 bg-blue2 text-white">
                        Afficher tous les patients
                    </a>

                    <div>
                        <label class="col-form-label">Rechercher : </label>
                        <form method="post" action="/medecin/searchPatByNPS" class="input-group rounded w-100">
                            <input name="nomp" type="text" class="rounded border p-1 w-25 mx-1" value=""
                                placeholder="Nom" aria-label="search" aria-describedby="search-addon" />
                            <input name="prenomp" type="text" class="rounded border p-1 w-25 mx-1" value=""
                                placeholder="Prénom" aria-label="search" aria-describedby="search-addon" />
                            <input name="numsecup" type="number" class="rounded border p-1 w-25 mx-1" value=""
                                placeholder="Numéro Sécurité Sociale" aria-label="search"
                                aria-describedby="search-addon" />
                            <button class="input-group-text border-0 " id="search-addon">
                                <img src="/static/img/loupe.png" alt="loupe" id="loupe">
                            </button>
                        </form>
                    </div>
                    <section class="d-flex flex-wrap justify-content-around">
                        <% if ( ptrier.length !=0) { %>
                            <% for (var pat of ptrier) { %>
                                <div class="div_ordo text-center border rounded rounded-4 w-25">
                                    <a href="/medecin/VoirPatient/<%= pat.email %>"
                                        class="text-decoration-none text-dark">
                                        <h2 class="f-blue_green">
                                            <%= pat.nom_pat %> <br>
                                                <%= pat.prenom_pat %>
                                        </h2>
                                        <p>
                                            <%= pat.numero_sercurite %>
                                        </p>
                                        <h3 class="f-blue2">
                                            <%= pat.ville_pat %>
                                        </h3>
                                    </a>
                                </div>
                                <% } %>
                                    <% } else if (pdms.length !=0) { %>
                                        <% for (var pdm of pdms) { %>
                                            <div class="div_ordo text-center border rounded rounded-4 w-25">
                                                <a href="/medecin/VoirPatient/<%= pdm.email %>"
                                                    class="text-decoration-none text-dark">
                                                    <h2 class="f-blue_green fs-4">
                                                        <%= pdm.nom_pat %> <br>
                                                            <%= pdm.prenom_pat %>
                                                    </h2>
                                                    <p class="fs-08">
                                                        <%= pdm.numero_sercurite %>
                                                    </p>
                                                    <h3 class="f-blue2 fs-4">
                                                        <%= pdm.ville_pat %>
                                                    </h3>
                                                </a>
                                            </div>
                                            <% } %>
                                                <% } else if (content.length !=0) {%>
                                                    <div>
                                                        <% if (content.length) { %>
                                                            <% for (var c of content) { %>
                                                                <p>
                                                                    <%= c.category %>:
                                                                        <strong>
                                                                            <%= c.message %>
                                                                        </strong>
                                                                </p>
                                                                <% }%>
                                                                    <% } %>
                                                    </div>
                                                    <% } %>
                    </section>
                </section>

                <section class="mt-5">
                    <h1 class="CaviarDreamsBold f-blue2" id="Mesinformations">Mes informations</h1>
                    <form method="post" action="/medecin/updateMedecin" id="signupFormClient"
                        class="d-flex flex-wrap justify-content-center mx-auto">
                        <div class="form-group mb-3 w-50 px-5">
                            <label for=" floatingNom">Nom</label>
                            <input name="nom" type="text" class="form-control" id="floatingNom"
                                value="<%= medecin.nom_pro %>">
                        </div>
                        <div class="form-group mb-3 w-50 px-5">
                            <label for="floatingPrenom">Prénom</label>
                            <input name="prenom" type="text" class="form-control" id="floatingPrenom"
                                value="<%= medecin.prenom_pro %>">
                        </div>
                        <div class="form-group mb-3 w-50 px-5">
                            <label for="floatingRPPS">Numéro RPPS</label>
                            <input name="rpps" type="number" class="form-control" id="floatingRPPS" max="99999999999"
                                min="11111111111" value="<%= medecin.RPPS %>" disabled>
                        </div>
                        <div class="form-group mb-3 w-50 px-5">
                            <label for="floatingAdeli">Numéro Adeli</label>
                            <input name="adeli" type="number" class="form-control" id="floatingAdeli"
                                value="<%= medecin.adeli %>" max="999999999" min="111111111" disabled>
                        </div>
                        <div class="form-group mb-3 w-50 px-5">
                            <label for="floatingProfession">Profession</label>
                            <input name="profession" type="text" class="form-control" id="floatingProfession"
                                value="<%= medecin.proffession %>">
                        </div>
                        <div class="form-group mb-3 w-50 px-5">
                            <label for="floatingEmail">Adresse email</label>
                            <input name="email" type="email" class="form-control" id="floatingEmail"
                                value="<%= medecin.email %>" disabled>
                        </div>

                        <div class="form-group mb-3 w-75 text-center">
                            <button type="submit" class="btn btn-outline-success">Enregistrer</button>

                        </div>
                    </form>
                </section>
                <section class="mt-5">
                    <h1 class="CaviarDreamsBold f-blue2" id="ETAB">Mes établissements</h1>
                    <table class="table text-center">
                        <thead>
                            <tr>
                                <th scope="col">Nom Établissement</th>
                                <th scope="col">Adresse</th>
                                <th scope="col">Code postal</th>
                                <th scope="col">Ville</th>
                                <th scope="col">Numéro TEL.</th>
                                <th scope="col">Supprimer</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for (var eta of etablissement) { %>
                                <tr class="p-auto">
                                    <th scope="row" class="f-blue2">
                                        <%= eta.nom_etablissement %>
                                    </th>
                                    <td>
                                        <%= eta.adresse_etab %>
                                    </td>
                                    <td>
                                        <%= eta.code_postal_etab %>
                                    </td>
                                    <td>
                                        <%= eta.ville_etab %>
                                    </td>
                                    <td>
                                        <%= eta.numero_telephone_etab %>
                                    </td>
                                    <td>
                                        <a href="/medecin/delEtab/<%= eta.id_etablissement %>">
                                            <button type="button"
                                                class="btn bg-light-grey btn-link-grey m-3 CaviarDreamsBold">Supprimer</button>
                                        </a>
                                    </td>
                                </tr>
                                <% } %>
                        </tbody>
                    </table>
                    <div class="text-center">
                        <form method="post" action="/medecin/updateEtab" id="signupFormClient" class="mx-auto">

                            <div class="form-group d-flex flex-row align-items-center px-5">
                                <label for=" floatingNom">Sélectionner un établissement : </label>
                                <select class="form-select ms-3 me-3 w-50" aria-label="Default select example"
                                    name="etab">
                                    <% for (var eta_ajout of etablissementAjout) { %>
                                        <option value="<%= eta_ajout.id_etablissement %>">
                                            <%= eta_ajout.nom_etablissement %>
                                        </option>
                                        <% } %>
                                </select>
                                <button type="submit" class="btn bg-light-grey btn-link-grey CaviarDreamsBold"
                                    id="add_eta_btn">Ajouter</button>
                            </div>
                        </form>
                    </div>
                </section>
            </article>
        </main>
        <%- include("footer.ejs"); %>
            <script src="/static/js/medecin_home.js"></script>
</body>