<html lang="fr">

<head>
    <%- include("partial_header.ejs"); %>
        <title>Mon espace - Professionel de Santé</title>
        <link rel="stylesheet" href="/static/css/inscription.css">
</head>

<body class="">
    <%- include("medecin_header.ejs"); %>
        <main class="container CaviarDreams p-3 pt-5 d-flex flex-column">
            <h1 class="CaviarDreamsBold f-blue2 pb-3 border-bottom">Patient - Ordonnance Médicamenteuse</h1>
            <% if (patient!=null) {%>
                <h1 class="mt-3 CaviarDreamsBold f-blue2" id="ALL">Allergies du patient</h1>
                <section class="d-flex justify-content-center mb-5">
                    <article class="w-70 bg-grey p-4 rounded-4 d-flex flex-row align-items-center justify-content-evenly">
                        <img src="/static/img/allergies.png" alt="Allergies" id="allergie">
                        <div class="text-center">
                            <% if (allergies.length !=0) {%>
                                <% for (var al of allergies) { %>
                                    <div class="d-flex justify-content-center">
                                        <p class="f-blue1 fs-4 text-capitalize f">
                                            <%= al.nom_allergie %>
                                        </p>
                                    </div>
                                    <% } %>
                                        <% } else { %>
                                            Le patient n'a pas d'allergie détectée.
                                            <% } %>
                        </div>
                    </article>
                </section>
                <% } %>
                    <h1 class="CaviarDreamsBold f-blue2 pt-2">Ajout des médicaments</h1>
                    <form action="/medecin/addMedicament/<%= ordonnance.id_ordo %>" method="post">
                        <div class="form-row d-flex flex-wrap justify-content-around">
                            <div class="form-group m-2 w-30">
                                <label for="inputDatePatient">Date</label>
                                <input name="date" type="text" class="form-control" id="inputDatePatient"
                                    value="<%= annee %>-<%= mois %>-<%= jour %>" readonly>
                            </div>
                            <div class="form-group m-2 w-30">
                                <label for="inputVille">Ville</label>
                                <input name="ville" type="text" class="form-control" id="inputVille"
                                    value="<%= ordonnance.ville_ordo %>" readonly>
                            </div>
                            <div class="form-group m-2 w-30">
                                <label for="inputNumSecuSociale">Numéro de Sécurité Sociale</label>
                                <input name="NumSecu" type="number" class="form-control" id="inputNumSecuSociale"
                                    value="<%= patient.numero_sercurite %>" readonly>
                            </div>
                        </div>
                        <div id="container_Medicament" class="d-flex flex-column align-items-center justify-content-center">
                            <div class="text-center w-50 mt-5 border d-flex flex-column align-items-center justify-content-center">
                                <h1 class="CaviarDreams f-blue_green pt-2 mb-3">Spécifications du médicament</h1>

                                <div class="form-row">
                                    <div class="form-group m-2 px-5 d-flex flex-wrap flex-row justify-content-between align-items-center">
                                        <label for="inputMedicament">Sélectionner un médicament : </label>
                                        <!--
                                <input type="text" class="form-control" id="inputMedicament"
                                    placeholder="Doliprane 1g">-->
                                        <select name='medicaments' class="p-2 border btn w-40">
                                            <% for (var lm of listeMedicament) { %>
                                                <option value='<%= lm.id_medic %>'>
                                                        <%= lm.nom_medicament %>
                                                </option>
                                                <% } %>
                                        </select>
                                    </div>
                                    <section class="">
                                        <div class="form-group m-2 px-5 d-flex flex-wrap flex-row justify-content-between align-items-center">
                                            <label for="inputFrequence">Fréquence : </label>
                                            <input name="freq" type="text" class="form-control w-40 ms-2" id="inputFrequence"
                                                placeholder="2 fois par jour">
                                        </div>
                                        <div class="form-group m-2 px-5 d-flex flex-row justify-content-between align-items-center">
                                            <label for="inputDuree">Durée de la prise : </label>
                                            <input name="duree" type="text" class="form-control w-40 ms-2" id=" inputDuree"
                                                placeholder="7 jours">
                                        </div>
                                        <div class="form-group m-2 px-5 d-flex flex-row justify-content-between align-items-center">
                                            <label for="inputQuantité">Quantité : </label>
                                            <input name="quant" type="number" class="form-control w-40 ms-2" id="inputQuantité"
                                                placeholder="1 boite">
                                        </div>
                                    </section>
                                </div>
                                <button type="submit"
                                    class="CaviarDreamsBold f-white link-blue-green btn-link-white btn bg-blue_green mt-1 mb-3">Ajouter</button>
                            </div>
                        </div>
                    </form>
                    </div>

                    <div class="container mt-5">
                        <h1 class="CaviarDreamsBold f-blue2 pt-2">Liste des médicaments</h1>
                        <table class="table text-center">
                            <thead>
                                <tr>
                                    <th scope="col">Nom du médicament</th>
                                    <th scope="col">Fréquence</th>
                                    <th scope="col">Durée de la prise</th>
                                    <th scope="col">Quantité</th>
                                    <th scope="col">Supprimer</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% if ( medicamentOrdo.length !=0) { %>
                                    <% for (var m of medicamentOrdo) { %>
                                        <tr>
                                            <td scope="row">
                                                <%= m.nom_medicament %>
                                            </td>
                                            <td>
                                                <%= m.frequence %>
                                            </td>
                                            <td>
                                                <%= m.duree %>
                                            </td>
                                            <td>
                                                <%= m.quantité %>
                                            </td>
                                            <td>
                                                <a
                                                    href="/medecin/delMedicament/<%= patient.id_patient %>/<%= m.id_medic %>/<%= m.id_ordo %>">
                                                    <button type="button"
                                                        class="btn bg-light-grey btn-link-grey m-3 CaviarDreamsBold">Supprimer</button>
                                                </a>
                                            </td>
                                        </tr>
                                        <% } %>
                                            <% } %>
                            </tbody>
                        </table>
                    </div>
                    </div>
                    <div class="text-center">
                        <% if (medicamentOrdo.length !=0) { %>
                            <a href="/Medecin/VoirOrdonnance/<%= ordonnance.id_ordo %>" class="text-decoration-none">
                                <button type=" button"
                                    class="btn bg-blue1 border mx-4 rounded text-uppercase CaviarDreamsBold text-white m-4">Terminer</button>
                            </a>
                            <% } else { %>
                                <a href="/medecin/annulerOrdo/<%= ordonnance.id_ordo %>" class="text-decoration-none">
                                    <button type="button"
                                        class="btn bg-blue1 border mx-4 rounded text-uppercase CaviarDreamsBold text-white m-4">Terminer</button>
                                </a>
                                <% } %>
                                    <a href="/medecin/annulerOrdo/<%= ordonnance.id_ordo %>"
                                        class="text-decoration-none">
                                        <button type="button"
                                            class="btn bg-blue1 border mx-4 rounded text-uppercase CaviarDreamsBold text-white m-4">Annuler</button>
                                    </a>
                    </div>
        </main>
        <%- include("footer.ejs"); %>
            <script src="/static/js/medecin_home.js"></script>
</body>